.button {
  display: inline-block;
  vertical-align: middle;
  font-family: inherit;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  color: @white-basic;
  background-color: @blue-basic;
  border: none;
}

.button--search-hotel {
  width: 100%;
  padding: 15px 20px 17px 20px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 458px;
    padding: 15px 20px 17px 20px;
  }

  @media (min-width: @tablet-width) {
    width: 458px;
    padding: 15px 20px 17px 20px;
  }
}

.button--send-feedback {
  width: 100%;
  padding: 19px 49px 13px 49px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    width: 50%;
    padding: 18px 60px 13px 49px;
  }

  @media (min-width: @desktop-width) {
    width: 480px;
    padding: 18px 60px 13px 60px;
  }
}

.button--failure {
  width: 64%;
  padding: 18px 19px 14px 20px;
  box-sizing: border-box;
  font-size: 18px;

  @media (min-width: @tablet-width) {
    width: 272px;
    font-size: 21px;
  }
}

.button--success {
  width: 100%;
  padding: 18px 20px 14px 20px;
  box-sizing: border-box;
  font-size: 18px;

  @media (min-width: @tablet-width) {
    width: 458px;
    font-size: 21px;
  }
}

.button:hover {
  background-color: @blue-basic-darker;
}

.button:active {
  background-color: @blue-basic-dark;
}

.button:active span {
  opacity: 0.3;
}
