.catalog-main__image-block {
  margin: 0 auto;
  margin-top: -28px;
  margin-bottom: 33px;
  padding-top: 52px;
  padding-bottom: 63px;
  text-align: center;
  background-color: @blue-basic;
  background-image: url("../img/intro-triangle-mobile.svg"), url("../img/form-back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: bottom center, center center;
  background-size: 100%;
}

.catalog-main__image-block img {
  width: 229px;
  height: 39px;
}

.catalog-main__text-block {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 0;
  text-align: center;
  margin-bottom: 30px;
}

.catalog-main__title {
  width: 100%;
  margin: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.catalog-main__description {
  width: 100%;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
