.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright__text {
  margin: 0;
  margin-bottom: 4px;
  margin-right: 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}


.copyright__link svg {
  width: 27px;
  height: 35px;
  fill: @black-basic;
}

.copyright__link:hover svg {
  fill: @blue-basic;
}

.copyright__link:active svg {
  fill: @black-basic;
  fill-opacity: 0.3;
}
