.modal {
  box-shadow: 0 7px 15px rgba(@black-shadow, 0.15);
}

.modal__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

//Что-то пошло не так

.modal--failure {
  display: none;
  padding: 0 20px;
  padding-top: 40px;
  padding-bottom: 35px;
  margin: 0 auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 307px;
    padding: 50px 47px 49px 46px;
  }
}

.modal__title--failure {
  width: 100%;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 307px;
  }
}

.modal__text--failure {
  width: 85%;
  padding-left: 21px;
  padding-right: 22px;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    width: 307px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 37px;
  }
}

//Ваш отзыв отправлен

.modal--success {
  display: none;
  padding-top: 38px;
  padding-bottom: 0;

  @media (min-width: @tablet-width) {
    width: 640px;
    padding-top: 47px;
    margin: 0 auto;
  }
}

.modal__wrapper-text--success {
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 39px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding: 0 99px 0 97px;
    margin-bottom: 42px;
  }
}

.modal__title--success {
  width: 100%;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    width: 444px;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}

.modal__text--success {
  width: 87%;
  padding-left: 17px;
  padding-right: 19px;

  @media (min-width: @tablet-width) {
    width: 444px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}

.modal__wrapper-button--success {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  background-color: @gray-background;

  @media (min-width: @tablet-width) {
    padding: 44px 91px;
  }
}
