.page-header__logo-link {
  position: relative;
  z-index: 2;
  display: block;
  width: 102px;
  height: 84px;
  margin: 0 auto;
  text-align: center;
}

.page-header__logo-link img {
  width: 102px;
  height: 84px;
}
