.search-hotel {
  margin-bottom: 10px;
}

.search-hotel__text-block {
  padding: 0 20px;
  margin: 0 auto;
  margin-bottom: 49px;
  padding-top: 33px;
  text-align: center;
}

.search-hotel__question {
  width: 93%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  margin-bottom: 21px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
}

.search-hotel__offer {
  width: 93%;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.search-hotel__map-block iframe {
  width: 100%;
  height: 350px;
  border: none;
}

.search-hotel__map-block img {
  width: 320px;
  height: 350px;
}
